.header-container {
    width: 100%;
    height: 75px;
    background-color: var(--primary-bg-clr);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner {
    font-size: 2em;
    color: var(--primary-fg-clr);
    margin-left: 15px;
}

.header-container label {
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    right: 20px;
}

.header-container label:after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 45px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.header-container input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.header-container input:checked + label {
    background-color: #242424;
}

.header-container input:checked + label:after {
    left: 98px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.header-container label:active:after {
    width: 52px;
}

.header-container .theme-icon {
    position: absolute;
    font-size: 40px;
    top: 5px;
    z-index: 100;
    transition: 0.3s;
}

.header-container .sun-icon {
    left: 5px;
    color: #ebebeb;
    user-select: none;
}

.header-container .moon-icon {
    right: 5px;
    color: #777;
    user-select: none;
}

.header-container input:checked + label .sun-icon {
    color: var(--deactivated-fg-clr);
}

.header-container input:checked + label .moon-icon {
    color: var(--primary-fg-clr);
}