.task-list-container {
    width: 750px;
    height: 80vh;
    background-color: var(--secondary-bg-clr);
    border-radius: 25px;
    padding: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filters-nav {
    height: 8vh;
    border-bottom: 2px solid var(--deactivated-fg-clr);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.filter-btn {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--deactivated-fg-clr);
    height: 100%;
}

.filters-nav .active {
    color: var(--tertiary-fg-clr);
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5vh 3vw;
}

.info-container h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: var(--tertiary-fg-clr);
}

.info-container h3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: var(--deactivated-fg-clr);
}

.info-container .new-task-btn {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: var(--tertiary-bg-clr);
    padding: 10px 15px;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--secondary-fg-clr);
    border-radius: 10px;
    margin-left: auto;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.info-container .new-task-btn:hover {
    background-color: var(--tertiary-bg-clr-hover);
    color: var(--secondary-fg-clr-hover);
}

.info-container .new-task-btn .add-icon {
    font-size: 1.5em;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 50vh;
    overflow-y: auto;
    margin: 0 5vw;
    align-items: center;
}

.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
    background: var(--deactivated-fg-clr);
    border-radius: 4px;
}

.task-item {
    height: 90px;
    flex-shrink: 0;
    background-color: var(--primary-task-bg-clr);
    width: 31vw;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1vh 2vw;
}

.task-title {
    color: var(--tertiary-fg-clr);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 3px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.task-description {
    color: var(--deactivated-fg-clr);
    font-size: 1em;
    margin-bottom: 3px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.check-area {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.task-item .name-section {
    border-bottom: 1px solid var(--secondary-bg-clr);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
}

.task-time {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 3px;
}

.task-time .day {
    color: var(--deactivated-fg-clr);
    font-weight: bold;
}

.task-time .time {
    color: var(--deactivated-fg-clr);
}

.check-btn svg {
    transition: transform 0.2s ease;
}

.check-btn:active svg {
    transform: scale(0.9);
}

.task-item.completed .task-title {
    text-decoration: line-through;
    color: var(--completed-fg-clr);
}
