.task-list-container {
    width: 750px;
    height: 80vh;
    background-color: var(--secondary-bg-clr);
    border-radius: 25px;
    padding: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filters-nav {
    height: 75px;
    border-bottom: 2px solid var(--deactivated-fg-clr);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.filter-btn {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--deactivated-fg-clr);
    height: 100%;
}

.filters-nav .active {
    color: var(--tertiary-fg-clr);
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5vh 3vw;
}

.info-container h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: var(--tertiary-fg-clr);
}

.info-container h3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: var(--deactivated-fg-clr);
}

.info-container .new-task-btn {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: var(--tertiary-bg-clr);
    padding: 10px 15px;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--secondary-fg-clr);
    border-radius: 10px;
    margin-left: auto;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.info-container .new-task-btn:hover {
    background-color: var(--tertiary-bg-clr-hover);
    color: var(--secondary-fg-clr-hover);
}

.info-container .new-task-btn .add-icon {
    font-size: 1.5em;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 50vh;
    overflow-y: auto;
    margin: 0 50px;
    align-items: center;
}

.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
    background: var(--deactivated-fg-clr);
    border-radius: 4px;
}

.task-item {
    height: 90px;
    flex-shrink: 0;
    background-color: var(--primary-task-bg-clr);
    width: 500px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1vh 2vw;
}

.task-title {
    color: var(--tertiary-fg-clr);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 3px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: left;
}

.task-description {
    color: var(--deactivated-fg-clr);
    font-size: 1em;
    margin-bottom: 3px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: left;
}

.check-area {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.task-item .name-section {
    border-bottom: 1px solid var(--secondary-bg-clr);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    width: 100%;
}

.task-time {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 3px;
    color: var(--deactivated-fg-clr);
    font-weight: bold;
    width: 100%;
}

.task-time .day {
    color: var(--deactivated-fg-clr);
    font-weight: bold;
}

.task-time .time {
    color: var(--deactivated-fg-clr);
}

.check-btn svg {
    transition: transform 0.2s ease;
}

.check-btn:active svg {
    transform: scale(0.9);
}

.task-item.completed .task-title {
    text-decoration: line-through;
    color: var(--completed-fg-clr);
}


.not-active-section {
    display: none;
}

.task-data-bg {
    position: fixed;
    inset: 0; /* заміна top/left/width/height */
    background-color: var(--filter-bg-clr);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.task-data-active {
    display: flex;
}

.task-data-window {
    width: 500px;
    height: max-content;
    background-color: var(--primary-task-bg-clr);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-data-window h2 {
    margin-top: 20px;
    color: var(--tertiary-fg-clr);
}

.task-list .empty {
    font-size: 1.7em;
    margin-top: 10vh;
    color: var(--empty-list-clr);
}

.create-bg,
.edit-bg {
    position: fixed;
    inset: 0; /* заміна top/left/width/height */
    background-color: var(--filter-bg-clr);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

textarea {
  resize: none;
}

.create-bg.active,
.edit-bg.active {
    display: flex;
}

.task-data-window form {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    gap: 20px;
}

.title-input {
    border: none;
    border-bottom: 3px solid var(--tertiary-bg-clr);
    font-size: 1.7em;
    transition: all 0.4s ease;
    background-color: transparent;
    color: var(--input-fg-clr);
}

.title-input:focus {
    outline: none;
    border-bottom: 3px solid var(--primary-bg-clr);
}

.date-input {
    border: none;
    background-color: var(--tertiary-bg-clr);
    width: max-content;
    height: 25px;
    padding: 10px 15px;
    outline: none;
    font-size: 0.9em;
    border-radius: 5px;
    border: 3px solid transparent;
    color: var(--input-fg-clr);
}

.date-input:focus {
   border: 3px solid var(--primary-bg-clr);
}

::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.date-input::-webkit-calendar-picker-indicator {
    border-radius: 5px;
}

.time-input::-webkit-calendar-picker-indicator {
    border-radius: 50%;
}

.date-input::-webkit-calendar-picker-indicator:hover {
    background-color: var(--primary-bg-clr);
}

.time-input::-webkit-calendar-picker-indicator:hover {
    background-color: var(--primary-bg-clr);
}

.time-input {
    border: none;
    background-color: var(--tertiary-bg-clr);
    width: max-content;
    height: 25px;
    padding: 10px   15px;
    outline: none;
    font-size: 0.9em;
    border-radius: 5px;
    border: 3px solid transparent;
    color: var(--input-fg-clr);
}

.time-input:focus {
   border: 3px solid var(--primary-bg-clr);
}

.date-time-field {
    display: flex;
    gap: 25px;
}

.description-input {
    border: none;
    background-color: var(--tertiary-bg-clr);
    border-bottom: 3px solid var(--tertiary-bg-clr);
    border-radius: 5px;
    font-size: 1.2em;
    transition: all 0.4s ease;
    height: 125px;
    padding: 10px;
    color: var(--input-fg-clr);
}

.description-input:focus {
    outline: none;
    border-bottom: 3px solid var(--primary-bg-clr);
}

.cancel-btn {
    background-color: var(--cancel-bg-clr);
    color: var(--cancel-fg-clr);
}

.apply-btn {
    background-color: var(--apply-bg-clr);
    color: var(--apply-fg-clr);
}

.delete-btn {
    background-color: var(--delete-bg-clr);
    color: var(--delete-fg-clr);
}

.cancel-btn,
.apply-btn,
.delete-btn {
    font-size: 1.3em;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.apply-btn:hover {
    background-color: var(--apply-bg-clr-hover);
}

.cancel-btn:hover {
    background-color: var(--cancel-bg-clr-hover);
}

.delete-btn:hover {
    background-color: var(--delete-bg-clr-hover);
}

.task-data-window form .actions {
    display: flex;
    gap: 10px;
}