* {
    margin: 0px;
    font-family: "Google Sans", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
    user-select: none;
}

button {
    user-select: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5vh;
    background-color: var(--bg-clr);
}

.btn {
    background-color: transparent;
    border: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    cursor: pointer;
}