* {
    margin: 0px;
    font-family: "Google Sans", sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5vh;
}

.btn {
    background-color: transparent;
    border: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    cursor: pointer;
}