* {
    margin: 0px;
    font-family: "Google Sans", sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5vh;
}

body {
    height: 300vh;
}