:root {
    --primary-bg-clr: hsl(208, 71%, 55%);
    --secondary-bg-clr: hsl(0, 0%, 90%);
    --tertiary-bg-clr: hsl(208, 71%, 85%);
    --primary-task-bg-clr: hsl(0, 0%, 100%);
    --filter-bg-clr: hsla(0, 0%, 0%, 0.3);
    --danger-bg-clr: hsl(0, 100%, 60%);

    --tertiary-bg-clr-hover: hsl(208, 71%, 80%);

    --primary-fg-clr: hsl(0, 0%, 95%);
    --secondary-fg-clr: hsl(208, 70%, 45%);
    --tertiary-fg-clr: hsl(0, 0%, 10%);
    --deactivated-fg-clr: hsl(0, 0%, 60%);
    --completed-fg-clr: hsl(0, 0%, 45%);

    --primary-fg-clr-hover: hsl(0, 0%, 80%);
    --secondary-fg-clr-hover: hsl(208, 70%, 45%);
    --primary-bg-clr-hover: hsl(208, 71%, 45%);
    --tertiary-bg-clr-hover: hsl(208, 71%, 75%);
    --danger-bg-clr-hover: hsl(0, 100%, 45%);
}